/* Style for the entire body of the page */
body {
     display: flex; /* Reponsive layout structure*/
     flex-direction: row; /* Vertical row */
     justify-content: center; /* Move content to center*/
     align-items: center; /* Centers items to the middle of section*/
     background: url(https://i1.pickpik.com/photos/459/909/203/food-drink-food-preview.jpg) no-repeat center center fixed; /* Background image*/
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover; /* Image to cover entire body of page */
     color: #fff; /* Default font color*/
     font-family: 'Source Sans Pro', sans-serif; /* google font*/
     font-size: 1.2em; /* Default body text size*/
     text-align: center; /* align all text to to the center*/
}
/* Style heading and sub-heading */
 h1, h3 {
     margin: 2px; /* Added space outside the border of heading tags*/
     font-family: 'Playfair Display', serif; /* google font*/
}
/* Style p elements */
 p {
     display: flex; /* Reponsive layout structure*/
}
/* Style header */
 header{
     width: 100%; /* Full width background-color*/
     padding: 15px 0px; /* Space added inside the border*/
     margin: 25px 0px; /* Space added outside the border*/
     background:rgb(255,205,0); /* Heading text background color*/
     color:#004b87; /* Default font color*/
}
 /* Style container surrounding entire application */
 .container {
     display: flex; /* Reponsive layout structure*/
     flex-direction: column; /* Horizontal flex direction*/
     align-items: center; /* Centers items to the middle of section*/
     width: 350px; /* Width of container*/
     padding-bottom: 20px; /* Space added inside the border*/
     background-color: #004b87; /* Background color of container*/
     border-radius: 5px; /* Adds a radius to border of container */
     box-shadow: 0 5px 10px 0 black; /* box-shadow: adds a shadow that extends from top, right, bottom, left */
}
/* Style the form */
 #tipForm {
     display: flex; /* Reponsive layout structure*/
     flex-direction: column; /* Verticle flex direction */
     align-items: center; /* Centers items to the middle of section*/
}
 .field {
     height: 40px; /* Height of field*/
     width: 100%; /* Full width field */
     padding-left: 10px;
     font-size: 0.9em; /* Text size of entry field*/
     border-radius: 5px; /* Adds a radius to border of fields */
}
/* Button to navigate back and forth between tabs */
 .buttons {
     margin: 10px; /* Added space outside the border*/
     padding: 10px 15px; /* Space added inside the border*/
     color:#004b87; /* Default font color*/
     background:rgb(255,205,0); /* background-color of buttons*/
     font-size: 1.17em; /* Text size inside buttons*/
     text-align: center;
     font-weight: bold;
     letter-spacing: 1px;
     cursor: pointer;
     border-radius: 5px; /* Adds a radius to border of button */
     box-shadow: 0 5px 10px 0 black;
}
/* Totals displayed on last tab*/
 #single, #multiple {
     margin: 30px 0px 50px 0px; /* Added space outside the border*/
     font-size: 1.17em; /* Text size for displayed totals*/
}
/* Style the input fields */
 input {
     width: 80%;
     height: 30px; /* Height of input*/
     padding-left: 10px;
     background-color: #ffffff;
     border-radius: 5px; /* Adds a radius to border input field */
     font-size: 1.17em; /* Text size of input field*/
}
/* Mark input boxes that gets an error on validation: */
 input.invalid {
     background-color: #ffdddd;
}
/* Hide all steps by default: */
 .tab {
     display: none; /* Hide and show elements without deleting and recreating them*/
     max-width: 90%; /* Tab will not exceed 90% of container */
     margin-top: 15px; 
}
/* Navigation buttons*/
.buttons {
    margin-bottom: 5px;
}
/* Make circles that indicate the steps of the form: */
 .step {
     height: 15px; /* Height of circle in steps*/
     width: 15px; /* Width of circle in steps*/
     margin: 0 2px;
     background-color: #ffffff;
     border: none;
     border-radius: 50%; /* Radius is added to create circle */
     display: inline-block;
     opacity: 0.5;
}
/* Mark the active step: */
 .step.active {
     opacity: 1;
}
/* Mark the steps that are finished and valid: */
 .step.finish {
     background-color: rgb(255,205,0);
}
